header {
    background-color: #183C63;
    color: white;
    text-align: center;
    padding: 20px;
}

b {
    color: blue;
}

.image1 {
    text-align: center;
    margin: 20px 0;
}

.image1 img {
    width: 300px;
    height: auto;
}